<input type="text" name="Name" />
<label for="Name">Your Name</label>

<input type="email" name="Email" />
<label for="Email">Your Email</label>

<input type="text" name="Location" />
<label for="Location">Location name</label>

<input type="text" name="Description" />
<label for="Description">Location name</label>

<input type="text" name="Address" />
<label for="Address">Location address</label>

<input type="text" name="Facilities" />
<label for="Facilities">Facility</label>

<input type="number" name="Price" />
<label for="Price">Price</label>

<form action="" method="post"></form>

<input type="checkbox" name="" id="" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
</html>
